body {
  font-family: 'Poppins', sans-serif;
  background: rgb(230, 247, 210);
  text-align: center;
  margin: 0;
}

.search-bar {
  margin: 20px;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 5px;
  background: #417a3d;
  color: white;
  border: none;
  font-weight: bold;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 16px;
  margin: 20px;
}

.pokemon-card {
  background: rgb(229, 248, 233);
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0,0,0,0.15);
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 120px;
  height: 120px;
}

.pokemon-details {
  display: none;
  margin: 20px auto;
  background: rgb(247, 227, 220);
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.pokemon-details img {
  width: 180px;
  height: 180px;
}

.pokemon-details ul {
  list-style: none;
  padding: 0;
}

.pokemon-details li {
  text-align: left;
  margin: 4px 0;
}

.back-btn {
  background: #ccc;
  color: black;
  margin-bottom: 0px;
}


.pokemon-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 16px;
  margin: 20px;
}

button.load-more {
  margin: 20px auto;
  display: block;
}
